<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="../css/style.css" />
    <title>Diary</title>
  </head>
  <body>
    <!-- The Modal -->
    <div id="myModal" class="custom-modal">
      <!-- Modal content -->
      <div class="custom-modal-content">
        <span class="custom-close">&times;</span>
        <h5>Add New Reading</h5>
        <br />

        <form id="modal-form" action="/entry" method="POST">
          <div>
            <label for="when">When</label>
            <input type="text" id="when" name="when" readonly="readonly" />
          </div>

          <div>
            <label for="peak-flow">Peak Flow (L/min)</label>
            <input type="number" id="peak-flow" name="peak_flow" required />
          </div>

          <div>
            <label for="medication">Medication:</label>
            <select name="medication" id="medication">
              <option value="" disabled selected>Choose your option</option>
              <option value="None">None</option>
              <option value="Pre-Med">Pre-Med</option>
              <option value="Post-Med">Post-Med</option>
            </select>
          </div>

          <div>
            <label for="comment">Comment</label>
            <textarea
              id="comment"
              name="comment"
              class="materialize-textarea"
            ></textarea>
          </div>

          <br />

          <button class="btn" type="submit">
            Done
          </button>
        </form>
      </div>
    </div>

    <div id="app">
      <h3>Hi <%= user._name %></h3>

      <div class="fixed-action-btn">
        <a class="btn-floating btn-large A700" id="myBtn">
          <i class="large material-icons">add</i>
        </a>
      </div>

      <table>
        <thead>
          <tr>
            <th>When</th>
            <th>Peak Flow (L/min)</th>
            <th>Medication</th>
            <th>Comment</th>
          </tr>
        </thead>

        <tbody>
          <!-- Loop through quotes -->
          <% for(var i = 0; i < user._entrys.length; i++) {%>
          <tr>
            <td><%= user._entrys[i].when %></td>
            <td><%= user._entrys[i].peak_flow %></td>
            <td><%= user._entrys[i].medication %></td>
            <td><%= user._entrys[i].comment %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <br />

    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit">Log Out</button>
    </form>

    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
  </body>
  <!-- <script type="module" src="../js/script.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    function formatDate(date) {
      minutes =
        date.getMinutes().toString().length == 1
          ? "0" + date.getMinutes()
          : date.getMinutes();
      hours =
        date.getHours().toString().length == 1
          ? "0" + date.getHours()
          : date.getHours();
      ampm = date.getHours() >= 12 ? "pm" : "am";
      months = [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
      ];
      days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

      return (
        days[date.getDay()] +
        " " +
        months[date.getMonth()] +
        " " +
        date.getDate() +
        " " +
        date.getFullYear() +
        " " +
        hours +
        ":" +
        minutes +
        ampm
      );
    }

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("custom-close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
      modal.style.display = "block";
      document.getElementById("when").value = new Date();
    };

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
      document.getElementById("modal-form").reset();
    };

    // When the user clicks anywhere outside of the modal, close it
    // window.onclick = function (event) {
    //   if (event.target == modal) {
    //     modal.style.display = "none";
    //   }
    // };

    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll("select");
      var instances = M.FormSelect.init(elems);
    });
  </script>

  <style>
    /* The Modal (background) */
    .custom-modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 9999; /* Sit on top */
      padding-top: 50px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .custom-modal-content {
      background-color: #fefefe;
      margin: auto;

      padding-left: 40px;
      padding-right: 40px;
      padding-top: 30px;
      padding-bottom: 30px;
      border: 1px solid #888;
      width: 90%;
      max-width: 600px;
    }

    /* The Close Button */
    .custom-close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .custom-close:hover,
    .custom-close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    body {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    form > div {
      padding: 5px 0px;
    }

    #app {
      width: 90%;
      max-width: 1000px;
    }
  </style>
</html>
