<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="../css/style.css" />
    <title>Diary</title>
  </head>
  <body>
    <!-- The Modal -->
    <div id="myModal" class="custom-modal">
      <!-- Modal content -->
      <div class="custom-modal-content">
        <div style="display: flex; flex-direction: row-reverse;">
          <div
            class="custom-close"
            style="margin: auto auto; padding: 5px 0px;"
          >
            &times;
          </div>
          <div
            class="material-icons"
            style="
              margin: auto auto;
              padding-top: 5px;
              padding-bottom: 5px;
              padding-right: 30px;
              color: #aaaaaa;
            "
            id="delete_reading"
          >
            delete
          </div>
          <h5 style="flex-grow: 8;" id="modal_title"></h5>
        </div>

        <br />

        <form id="modal-form" action="/entry" method="POST">
          <div>
            <label for="when">When</label>
            <input type="text" id="when" name="when" readonly="readonly" />
          </div>

          <div>
            <label for="peak_flow">Peak Flow (L/min)</label>
            <input type="number" id="peak_flow" name="peak_flow" required />
          </div>

          <div>
            <label for="medication">Medication:</label>
            <select name="medication" id="medication">
              <option value="" disabled>Choose your option</option>
              <option value="None">None</option>
              <option value="Pre-Med">Pre-Med</option>
              <option value="Post-Med">Post-Med</option>
            </select>
          </div>

          <div>
            <label for="comment">Comment</label>
            <textarea
              id="comment"
              name="comment"
              class="materialize-textarea"
            ></textarea>
          </div>

          <br />

          <button class="btn" type="submit">
            Done
          </button>
        </form>
      </div>
    </div>

    <div id="app">
      <div class="flex-container">
        <div class="dropdown1" style="margin-bottom: auto; margin-top: auto;">
          <div>
            <div
              ref="accnt-btn"
              class="user-icon dropbtn1"
              style="margin-left: auto;"
              onclick="myFunction()"
            >
              TF
            </div>
          </div>

          <div id="myDropdown1" class="dropdown-content1">
            <a href="#">My Account</a>
            <a href="#" id="logout"> Log Out</a>
          </div>
        </div>

        <!-- <div style="margin-top: auto; margin-bottom: auto;">
          <div
            ref="accnt-btn"
            v-on:click.stop="menuItemClicked('accnt')"
            class="user-icon"
            style="margin-left: auto;"
          >
            TF
          </div>
        </div> -->

        <div style="flex-grow: 1; margin-top: auto;">
          <h3>Hi <%= user._name %></h3>
        </div>
      </div>

      <div class="fixed-action-btn">
        <a class="btn-floating btn-large A700" id="myBtn">
          <i class="large material-icons">add</i>
        </a>
      </div>

      <table>
        <thead>
          <tr>
            <th>When</th>
            <th>Peak Flow (L/min)</th>
            <th>Medication</th>
            <th>Comment</th>
          </tr>
        </thead>

        <tbody>
          <!-- Loop through quotes -->
          <% for(var i = 0; i < user._entrys.length; i++) {%>
          <tr
            style="cursor: pointer;"
            id="<%= i %>"
            onclick="onEntryClicked(this.id)"
          >
            <td id="when_<%= i %>"><%= user._entrys[i].when %></td>
            <td id="peakflow_<%= i %>"><%= user._entrys[i].peak_flow %></td>
            <td id="medication_<%= i %>"><%= user._entrys[i].medication %></td>
            <td id="comment_<%= i %>"><%= user._entrys[i].comment %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <br />

    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
  </body>
  <!-- <script type="module" src="../js/script.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script>
    function formatDate(date) {
      minutes =
        date.getMinutes().toString().length == 1
          ? "0" + date.getMinutes()
          : date.getMinutes();
      hours =
        date.getHours().toString().length == 1
          ? "0" + date.getHours()
          : date.getHours();
      ampm = date.getHours() >= 12 ? "pm" : "am";
      months = [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
      ];
      days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

      return (
        days[date.getDay()] +
        " " +
        months[date.getMonth()] +
        " " +
        date.getDate() +
        " " +
        date.getFullYear() +
        " " +
        hours +
        ":" +
        minutes +
        ampm
      );
    }

    // Get the modal
    var modal = document.getElementById("myModal");

    var delete_reading = document.getElementById("delete_reading");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("custom-close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
      modal.style.display = "block";
      delete_reading.style.display = "none";
      document.getElementById("modal_title").innerHTML = "Add New Reading";
      document.getElementById("when").value = new Date();
    };

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
      document.getElementById("modal-form").reset();
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
        var modal = document.getElementById("myModal");
      }
    };

    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll("select");
      var instances = M.FormSelect.init(elems);
    });
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown1").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
      if (!event.target.matches(".dropbtn1")) {
        var dropdowns = document.getElementsByClassName("dropdown-content1");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains("show")) {
            openDropdown.classList.remove("show");
          }
        }
      }
    };

    window.onload = function () {
      document.getElementById("logout").onclick = function () {
        var myForm = document.createElement("form");
        document.body.appendChild(myForm);

        myForm.action = "/logout?_method=DELETE"; // the href of the link
        myForm.method = "POST";
        myForm.submit();
        console.log("called here");
        return false;
      };
    };

    function onEntryClicked(entry_id) {
      document.getElementById("modal-form").reset();

      document.getElementById("modal_title").innerHTML = "Modify Reading";

      var when = document.getElementById("when_" + entry_id).innerHTML;
      var peak_flow = document.getElementById("peakflow_" + entry_id).innerHTML;
      var medicationVal = document.getElementById("medication_" + entry_id)
        .innerHTML;
      var comment = document.getElementById("comment_" + entry_id).innerHTML;

      console.log(medication);

      modal.style.display = "block";
      delete_reading.style.display = "block";

      document.getElementById("when").value = when;
      document.getElementById("peak_flow").value = peak_flow;

      var val = medicationVal;
      var medicationSelect = document.getElementById("medication");
      var opts = medicationSelect.options;
      for (var opt, j = 0; (opt = opts[j]); j++) {
        if (opt.value == val) {
          medicationSelect.selectedIndex = j;
          break;
        }
      }

      document.getElementById("comment").textContent = comment;

      // NEED TO UPDATE POST TO CAUSE UPDATE IN DB NOT CREATE NEW READING
    }
  </script>

  <style>
    /* The Modal (background) */
    .custom-modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 9999;
      padding-top: 50px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .custom-modal-content {
      background-color: #fefefe;
      margin: auto;

      padding-left: 40px;
      padding-right: 40px;
      padding-top: 30px;
      padding-bottom: 30px;
      border: 1px solid #888;
      width: 90%;
      max-width: 600px;
    }

    /* The Close Button */
    .custom-close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .custom-close:hover,
    .custom-close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    body {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    form > div {
      padding: 5px 0px;
    }

    #app {
      width: 90%;
      max-width: 1000px;
    }

    .user-icon {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      font-size: 21px;
      color: #fff;
      line-height: 50px;
      text-align: center;
      background: #f9b9f2;
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
      cursor: pointer;
    }

    .flex-container {
      display: flex;
      flex-wrap: nowrap;
      margin: 20px 0px;
      flex-direction: row-reverse;
      /* background-color: DodgerBlue; */
    }

    .flex-container > div {
      /* background-color: #f1f1f1;
      width: 100px; */
      margin: 10px;
      /* text-align: center;
      line-height: 75px;
      font-size: 30px; */
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown1 {
      position: relative;
      display: inline-block;
    }

    .dropdown1 a:hover {
      background-color: #ddd;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content1 {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      right: 0;
      margin-top: 10px;
    }

    .dropdown-content1 a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
      display: block;
    }
  </style>
</html>
